<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

<div ng-app="appName">
  <div ng-controller="todoControl">
  <h2>To Do List</h2>
    <ul >
      <li ng-repeat="x in todoArray track by $index" ng-style="strike($index)">{{x.task}} 
      <input type="checkbox" ng-model="x.done" ng-click="done($index)"/>
       <button ng-click="removeFromArray($index)">Remove</button> </li> 
    </ul>
    <input type="text" placeholder="Type Your Task" ng-model="inputToAddToArray">
    <input type="submit" placeholder="Submit" ng-click="addToArray()">
  </div>
</div>

<script src="node_modules/angular/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="controller.js"></script>
<script type="text/javascript" src="service.js"></script>
</body>
</html>